<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400|Vollkorn|Cardo:400,700' rel='stylesheet' type='text/css'>

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/custom.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   
   {% for css_name in page.codex_css %}
    <link href="{{ ASSET_PATH }}/css/codex.css?body=1" rel="stylesheet" type="text/css" media="all">
   {% endfor %}

   {% for css_name in page.internal_css %}
   <link href="{{ ASSET_PATH }}/css/custom_internal.css?body=1" rel="stylesheet" type="text/css" media="all">
   {% endfor %}

   <style type="text/css"> .icon {background:none;} </style>


  <!-- Le fav and touch icons -->
  <!-- Update these with your own images -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/red_favicon.ico">

   {% for ico_name in page.alt_fav %}
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/livro_favicon.ico">
   {% endfor %}
  <!--  <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
  <!--  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
  

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- Facebook OG Tags -->

    <meta content="{{ page.og-title }}" property="og:title" />
    <meta content="{{ page.og-image }}" property="og:image" />
    <meta content="{{ page.og-site_name }}" property="og:site_name"/>
    <meta content="{{ page.og-description }}" property="og:description"/>
    <meta content="{{ page.og-url }}" property="og:url">
        
    <!-- Google Analytics -->
    {% include JB/analytics-providers/google %}

  </head>

  <body>
    <!-- <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
-->

    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p class="text-center"><small><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" alt="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" title="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" target="_blank"><span class="cc">cc</span> {{ site.time | date: '%Y' }} {{ site.author.name }}
        </a></small></p>
      </footer>

    </div>

  </body>
</html>
